{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() ~ ' | Accueil' }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{# {% block javascripts %}
	{{ encore_entry_script_tags('favorite') }}
{% endblock %} #}

{% block content %}
	<img class="home lg-position-absolute" src="{{ asset ('build/images/home.jpg') }}" alt="" srcset="">

	<section class="position-relative home container-fluid p-0">

		<h1 class="font-subtitle display-1 ps-5 bg-light">Entrez dans la communauté créative</h1>

		<div class="container ">

			<h2 class="category font-subtitle display-5 bg-shadow rounded-end mt-5">Catégories d'inspiration</h2>
			<div class="row">

				{% for category in categories %}

					<div class="col-12 col-sm-6">
						<h3 class="font-subtitle fs-2 mb-0 mt-2 text-center bg-shadow rounded-top shadow">{{ category.name }}</h3>
						<a href="{{ path('app_inspiration_category', { 'id': category.id }) }}" class="shadow">
							<img src="{{ category.placeholder is null ? "https://fakeimg.pl/350x200/?text=Oops&font=lobster" : vich_uploader_asset(category) }}" class="d-block w-100 h-75 rounded-bottom" alt="Une image">
						</a>
					</div>
				{% endfor %}
			</div>

			<h2 class="font-subtitle display-5 my-5 bg-shadow rounded-end">Découvrez leurs œuvres</h2>
			<div class="row">

				{% for artist in artists %}
					<div class="col-12 col-sm-3 my-2">
						<div class="d-flex flex-column align-items-center justify-content-between border rounded h-100 bg-shadow">
							<a href="{{ path('app_artist_show_one_artist', { 'id': artist.id }) }}" class="pt-4">
								<img class="artistFocus rounded-circle border mb-2" src="{{ artist.user.avatar is empty ? asset ( 'build/images/default_avatar.gif') : vich_uploader_asset(artist.user) }}" alt="Image de profil" id="avatar">
							</a>

							<p class="font-subtitle fs-5 text-center bg-shadow w-100">{{ artist.user.lastname }}</p>

						</div>
					</div>

					{% for artwork in artist.artworks|slice(0, 3) %}
						<div class="col-12 col-sm-3 my-2 position-relative">
							<img src="{{ artwork.artwork is null ? "https://fakeimg.pl/350x200/?text=En%20cours&font=lobster": vich_uploader_asset(artwork) }}" class="d-none d-sm-block z-index-1 position-absolute top-50 start-50 translate-middle px-2 h-75" alt="Une oeuvre de {{ artist.user.lastname }}">
							{# {% if is_granted('ROLE_ARTIST') %}
								<a class="toggleFavorite z-index-3 position-absolute top-0 start-0 ms-3 text-decoration-none text-dark" href="{{ path('app_artwork_add_favory', { id: artwork.id }) }}">
									<i class="bi fs-1 {{ app.user.artist.isInFavorite(artwork) ? 'bi-palette-fill' : 'bi-palette' }}"></i>
								</a>
							{% endif %} #}
						</div>
					{% endfor %}

				{% endfor %}
			</div>

		</div>
	</section>
{% endblock %}
