{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() ~ ' | Inscription'}}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('previewAvatarRegistration') }}
{% endblock %}

{% block content %}

	<div class="container w-25">
		<div class="d-flex flex-column align-items-center mt-5 pt-5">
			<h1 class="font-title my-4">Inscription</h1>
			<img class="profilPicture rounded-circle border mt-3" src="{{ asset ('build/images/default_avatar.gif') }}" alt="Image de profil" id="avatar">
		</div>
		 {{ include('registration/_formRegister.html.twig') }}
	</div>
</div>{% endblock %}
