{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-between mt-4">
      <a class="btn btn-outline-primary" href="{{ path('app_category_index') }}">Retour</a>
      <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
