{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() ~ ' | Inspiration' }}
{% endblock %}

 {% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('chat') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('favorite') }}
{% endblock %}

{% block content %}

	<div class="container mt-5">
		<h2 class="font-subtitle display-5 my-5 pt-5 rounded-end">
			S'inspirer de
			{{ artwork.name }}
		</h2>

		<div class="row">

			<div class="col-12 col-sm-3">

				<div class="card-body">

					<ul class="list-group list-group-flush">
						<li class="list-group-item">{{ artwork.artist.user.lastname}}</li>
						<li class="list-group-item">{{ artwork.tool}}</li>
						<li class="list-group-item">{{ artwork.height ~ 'x' ~ artwork.width}}</li>
						<li class="list-group-item">
							<small class="text-muted">{{ (artwork.workDuration / 60)|round(0, 'ceil') }}h</small>
						</li>
		

					</ul>
				</div>

			</div>

			<div class="col-12 col-sm-9 position-relative">
				{% if is_granted('ROLE_ARTIST') %}
					<a class="toggleFavorite position-absolute top-0 start-0 ms-3 text-decoration-none text-dark" href="{{ path('app_artwork_add_favory', { id: artwork.id }) }}">
						<i class="bi fs-1 {{ app.user.artist.isInFavorite(artwork) ? 'bi-palette-fill' : 'bi-palette' }}"></i>
					</a>
				{% endif %}

				<img src="{{ artwork.artwork is null ? "https://fakeimg.pl/350x200/?text=Bientôt&font=lobster" : vich_uploader_asset(artwork) }}" class="rounded w-100" alt="...">
			</div>

		</div>
		<h2 class="category font-subtitle display-5 bg-shadow rounded-end mt-5">Échanger avec la communauté</h2>
		<div class="row">
			<div class="col-12 ">
				{% include "component/_chat.html.twig" %}
			</div>
		</div>
<div class="d-flex justify-content-end">
		      <a class="btn btn-outline-primary" href="{{ path('app_inspiration_category', { id: artwork.category.id }) }}"><i class="me-2 bi bi-arrow-left-square"></i>Retour</a>
		</div>
	</div>
{% endblock %}
