{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() ~ ' | Modification œuvre'}}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('previewArtworkImage') }}
{% endblock %}
{% block content %}
	<div class="container min-vh-100">
		<div class="row d-flex justify-content-center">
			<h1 class="my-5 pt-5">Modification d'une œuvre</h1>
			<div class="d-sm-flex justify-content-between">
				<div class="col-sm-6">

					{{ include('artwork/_form.html.twig', {'button_label': 'Modifier'}) }}

				</div>

				<div class="col-sm-3 me-5 align-self-end ">
					<img class=" border h-100" src="{{ artwork.artwork is empty ? "https://fakeimg.pl/350x200/?text=Bientôt&font=lobster" : vich_uploader_asset(artwork) }}" alt="Une œuvre" id="artworkImage">
				</div>
			</div>

		</div>
	</div>
{% endblock %}
