{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() ~ '| Mes œuvres'}}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="d-flex justify-content-between mt-5 pt-5">
			<h1 class="">Mes œuvres</h1>
			<a class="btn btn-dark h-100 align-content-center" href="{{ path('app_artwork_new') }}">Ajouter une œuvre</a>
		</div>
		<table class="table">
			<thead>

				<tr>
					<th class="w-auto">Nom de l'œuvre</th>
					<th class="w-auto">Outil</th>
					<th class="w-auto">Dimension</th>
					<th class="w-auto">Support</th>
					<th class="w-auto">Temps</th>
					<th class="w-auto">Image</th>
					<th class="w-auto"></th>
				</tr>
			</thead>
			<tbody>
				{% for artwork in app.user.artist.artworks %}
					<tr>
						<td>{{ artwork.name }}</td>
						<td>{{ artwork.tool }}</td>
						<td>{{ artwork.height ~ 'x' ~ artwork.width }}</td>
						<td>{{ artwork.base }}</td>
						<td>{{ (artwork.workDuration / 60)|round(0, 'ceil') }}h</td>
						<td>
							<img src="{{ artwork.artwork is null ? "https://fakeimg.pl/350x200/?text=En%20cours&font=lobster": vich_uploader_asset(artwork) }}" class="img-thumbnail w-25" alt="...">
						</td>

						<td class="">
							<a class="btn btn-sm btn-outline-primary ms-1" href="{{ path('app_artwork_edit', {'id': artwork.id}) }}">Modifier</a>

							{{ include('artwork/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">Aucunes œuvres enegistrées</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	</div>
{% endblock %}
