<nav class="navbar navbar-dark bg-dark fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Dessine moi un mouton</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
					{% if app.user %}
					<a href="{{ path('app_artist_edit') }}" class="me-5 text-decoration-none fs-5"><small>Mon profil</small></a>
					{{ app.user.lastname }} 
						{% else %}
							Menu
					{% endif %}

				</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					<li class="nav-item">

						{% if app.user %}
							<a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
									<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
								</svg>
								Déconnexion</a>
						{% else %}
							<a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
						{% endif %}
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_index') }}">Accueil</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Catégories
						</a>
						<ul class="dropdown-menu dropdown-menu-dark">

							{{ render(controller('App\\Controller\\CategoryController::categories')) }}

							<li>
								<hr class="dropdown-divider">
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_artist_all') }}">Artistes</a>
							</li>
						</ul>
					</li>
				</ul>
				<form class="d-flex mt-3" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-success" type="submit">Rechercher</button>
				</form>
			</div>
		</div>
	</div>
</nav>
